@media (min-width: 768px) {
  .dropdown-menu {
    float: none;
  }
}
@media (max-width: 767px) {
  .dropdown-menu {
    position: static;
    float: none;
  }
}
.labels {
 color: red;
 background-color: white;
 font-family: "Lucida Grande", "Arial", sans-serif;
 font-size: 10px;
 font-weight: bold;
 text-align: center;
 width: 40px;
 border: 2px solid black;
 white-space: nowrap;
}
