{% extends "base.html" %}
{% block content %}
<ul>
{% for measurement in measurements %}
    <li>[{{measurement.timestamp}}]
        <a href="/?search={{measurement.search_id}}">search</a>
        <b>lon:</b> {{measurement.longitude}},
        <b>lat:</b> {{measurement.latitude}},
        <b>heading:</b> {{measurement.heading}}
        <b>strength:</b> {{measurement.strength}}
        <a href="/measurement/{{measurement.id}}/delete">remove</a>
    </li>
{% endfor %}
{% if not measurements %}
    <li>None</li>
{% endif %}
</ul>
{% endblock %}