{% extends "base.html" %}
{% block content %}
    <table>
        <tr>
            <th>Call</th>
            <th>e-Mail</th>
            <th>Measurements</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
{% for user in users: %}
        <tr>
  {% if user.call != 'admin': %}
            <td>{{user.call}}</td>
            <td>{{user.email}}</td>
            <td><a href="/user/{{user.id}}/measurements">measurements</a></td>
          {% if user.is_active() %}
            <td><a href="{{url_for('user_disable', id=user.id)}}">disable</a></td>
          {% else: %}
            <td><a href="{{url_for('user_enable', id=user.id)}}">enable</a></td>
          {% endif %}
            <td><a href="{{url_for('user_delete', id=user.id)}}">remove</a></td>
  {% endif %}
        </tr>
{% endfor %}
    </table>
{% endblock %}
